<div class="row" style="background: white; border-radius: 4px; box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); width: 405px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h4>{{bancFrases.titol}} - {{alumne.nomCompletPersona}}</h4><br>
        </div>
    </md-toolbar>
<!-- <div class="row" style="background: white; border-radius: 4px; box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); width: 405px; height: 200px; overflow-y: scroll;"> -->
    <div class="row" style="margin-right: 0px !important; margin-left: 0px !important;">
        <!-- <i style="font-size: 19px; float: right;" class="material-icons col-md-2" ng-click="showPanellNoufrase($event)">add</i> -->
        <md-input-container class="col-md-9" md-no-float style="padding: 10px 0px 0px 0px;
        margin: 0px 0px -20px 0px;
        ">
            <input md-autofocus style="padding-left: 18px; padding-bottom: 7px;" ng-model="filtrefrasesPanel" placeholder="Busca frase">
        </md-input-container>
    </div>
    <div class="row" style="margin-right: 0px !important; margin-left: 0px !important; margin-top: 10px !important; height: 150px; overflow-y: scroll;">
        <div class="col-md-12">        
            <md-list-item class="row panel-seleccio-frase-list noright" ng-repeat="frase in bancFrases.frases | filter:ignoraAccents:filtrefrasesPanel">
                <div class="row" style="width: 100%" ng-click="parent.seleccionaBancFrasePanell(frase)">
                    <div class="col-md-2">
                        <md-checkbox ng-model="frase.select"></md-checkbox>
                        <!-- <pre>{{frase.fraseSeleccionat}}</pre> -->
                    </div>
                    <div class="col-md-10">
                        <span style="text-align: justify;"><b>[{{frase.valor}}]</b> {{frase.text}}</span>
                    </div>
                </div>
            </md-list-item>
        </div>
    </div>
</div>