.icon-admin { background-image: url('png/admin.png'); background-repeat: no-repeat; }

.icon-ampa { background-image: url('png/ampa.png'); background-repeat: no-repeat; }

.icon-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-arxius { background-image: url('png/arxius.png'); background-repeat: no-repeat; }

.icon-boy { background-image: url('png/boy.png'); background-repeat: no-repeat; }

.icon-bullets { background-image: url('png/bullets.png'); background-repeat: no-repeat; }

.icon-button-arrow-right { background-image: url('png/button-arrow-right.png'); background-repeat: no-repeat; }

.icon-calendari { background-image: url('png/calendari.png'); background-repeat: no-repeat; }

.icon-catalegs { background-image: url('png/catalegs.png'); background-repeat: no-repeat; }

.icon-cicles { background-image: url('png/cicles.png'); background-repeat: no-repeat; }

.icon-directori { background-image: url('png/directori.png'); background-repeat: no-repeat; }

.icon-docs { background-image: url('png/docs.png'); background-repeat: no-repeat; }

.icon-drive { background-image: url('png/drive.png'); background-repeat: no-repeat; }

.icon-ebook_lib { background-image: url('png/ebook_lib.png'); background-repeat: no-repeat; }

.icon-ebooks { background-image: url('png/ebooks.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.icon-error403_logo { background-image: url('png/error403_logo.png'); background-repeat: no-repeat; }

.icon-esecretaria { background-image: url('png/esecretaria.png'); background-repeat: no-repeat; }

.icon-family { background-image: url('png/family.png'); background-repeat: no-repeat; }

.icon-forum { background-image: url('png/forum.png'); background-repeat: no-repeat; }

.icon-gestor { background-image: url('png/gestor.png'); background-repeat: no-repeat; }

.icon-girl { background-image: url('png/girl.png'); background-repeat: no-repeat; }

.icon-group { background-image: url('png/group.png'); background-repeat: no-repeat; }

.icon-group_admin { background-image: url('png/group_admin.png'); background-repeat: no-repeat; }

.icon-icon-add-service { background-image: url('png/icon-add-service.png'); background-repeat: no-repeat; }

.icon-icon-close-white { background-image: url('png/icon-close-white.png'); background-repeat: no-repeat; }

.icon-icon-close { background-image: url('png/icon-close.png'); background-repeat: no-repeat; }

.icon-icon-close_white { background-image: url('png/icon-close_white.png'); background-repeat: no-repeat; }

.icon-icon-content { background-image: url('png/icon-content.png'); background-repeat: no-repeat; }

.icon-icon-cross { background-image: url('png/icon-cross.png'); background-repeat: no-repeat; }

.icon-icon-edit-blue { background-image: url('png/icon-edit-blue.png'); background-repeat: no-repeat; }

.icon-icon-edit-lightblue { background-image: url('png/icon-edit-lightblue.png'); background-repeat: no-repeat; }

.icon-icon-external { background-image: url('png/icon-external.png'); background-repeat: no-repeat; }

.icon-icon-help { background-image: url('png/icon-help.png'); background-repeat: no-repeat; }

.icon-icon-logout { background-image: url('png/icon-logout.png'); background-repeat: no-repeat; }

.icon-icon-open-sidebar { background-image: url('png/icon-open-sidebar.png'); background-repeat: no-repeat; }

.icon-icon-search { background-image: url('png/icon-search.png'); background-repeat: no-repeat; }

.icon-icon-star-empty { background-image: url('png/icon-star-empty.png'); background-repeat: no-repeat; }

.icon-icon-star-full { background-image: url('png/icon-star-full.png'); background-repeat: no-repeat; }

.icon-icon_close { background-image: url('png/icon_close.png'); background-repeat: no-repeat; }

.icon-icon_fav_remove { background-image: url('png/icon_fav_remove.png'); background-repeat: no-repeat; }

.icon-icon_school_fje { background-image: url('png/icon_school_fje.png'); background-repeat: no-repeat; }

.icon-infantil { background-image: url('png/infantil.png'); background-repeat: no-repeat; }

.icon-infermeria { background-image: url('png/infermeria.png'); background-repeat: no-repeat; }

.icon-jira { background-image: url('png/jira.png'); background-repeat: no-repeat; }

.icon-llista { background-image: url('png/llista.png'); background-repeat: no-repeat; }

.icon-logo_fje { background-image: url('png/logo_fje.png'); background-repeat: no-repeat; }

.icon-logo_fje_white { background-image: url('png/logo_fje_white.png'); background-repeat: no-repeat; }

.icon-logo_lanet { background-image: url('png/logo_lanet.png'); background-repeat: no-repeat; }

.icon-logo_lanet_big { background-image: url('png/logo_lanet_big.png'); background-repeat: no-repeat; }

.icon-logo_lanet_white { background-image: url('png/logo_lanet_white.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-moodle { background-image: url('png/moodle.png'); background-repeat: no-repeat; }

.icon-notes { background-image: url('png/notes.png'); background-repeat: no-repeat; }

.icon-password { background-image: url('png/password.png'); background-repeat: no-repeat; }

.icon-picasa { background-image: url('png/picasa.png'); background-repeat: no-repeat; }

.icon-picassa { background-image: url('png/picassa.png'); background-repeat: no-repeat; }

.icon-qualiteasy { background-image: url('png/qualiteasy.png'); background-repeat: no-repeat; }

.icon-r2m { background-image: url('png/r2m.png'); background-repeat: no-repeat; }

.icon-rebuts { background-image: url('png/rebuts.png'); background-repeat: no-repeat; }

.icon-stats { background-image: url('png/stats.png'); background-repeat: no-repeat; }

.icon-treballs { background-image: url('png/treballs.png'); background-repeat: no-repeat; }

.icon-tutorship { background-image: url('png/tutorship.png'); background-repeat: no-repeat; }

.icon-web { background-image: url('png/web.png'); background-repeat: no-repeat; }

.icon-webteca { background-image: url('png/webteca.png'); background-repeat: no-repeat; }

