
.border-table-thead{
	border: 0px !important;
}

.table-th-buscador{
	border-left: 0px !important;
}

.table-checkbox-buscador{
	margin-bottom: 8px !important;
    margin-left: 2px !important;
}

.table-input-bancFrases{
	margin: 0px;
}

.table-textarea-edit{
	font-size: 12px !important;
    text-align: justify !important;
    color: #898989 !important;
}

.table-textarea-noEdit{
	font-size: 12px !important;
    text-align: justify !important;
    color: black !important;
}

.taula-textarea-icon{
	float: right;
	color: grey;
	font-size: 16px !important
}

.table-scroll table {
    /*width:100%;*/
    /*margin:auto;*/
    border-collapse:separate !important;
    border-spacing:0 !important;
}

table thead {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: white;
}