<div style="background-color: white" class="row">
	<!-- <div class="col-md-12" md-theme={{centre}} md-theme-watch>
		<h3>Llengua catalana</h3>
	</div> -->

	<div ng-if="!taulaCarregada" layout="row" layout-sm="column" layout-align="space-around">
    	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div style="position: absolute; margin-left: 47.5%" ng-if="desaDades" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <!-- <div ng-if="desaDades" class="container">
    	<md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
    </div> -->

	<div ng-if="taulaCarregada" class="col-md-12" style="margin-bottom: 1%;">
		<!-- <md-input-container style="margin: 0px; height: 34px" md-no-float>
			<input ng-model="filtreCamp.Nom" placeholder="Busca alumne">
		</md-input-container> -->

		<h4 style="float: left;">{{informacioLlista[0].nom}}</h4>


		<md-button ng-disabled="bloquejaOpcions" style="float: right;" class="md-raised md-primary" ng-click="procesDesarValors($event)">
			<!-- <span class="material-icons">done</span> -->
			<span>Enviar dades</span>
		</md-button>
		
		<md-button style="float: right;" class="md-raised md-primary" ng-click="mostrarLlistats()">
			<!-- <span class="material-icons">done</span> -->
			<span>Mostra llistats</span>
		</md-button>
	</div>

	<div ng-if="taulaCarregada" style="overflow-y: scroll;" class="col-md-12 table-scroll">
		<table ng-init="calculaHeightTaula()" class="table table-bordered border-table-thead">
		  <thead>
		    <tr>
				<th ng-click="changeSorting(camp)" style="text-align: center; text-transform: capitalize;" scope="col-md-2" ng-repeat="camp in nomCampsTaula">{{camp}} <span style="font-size: 20px; float: right;" class="material-icons"> sort_by_alpha</span>
				</th>
				<th style="text-align: center; text-transform: capitalize;" ng-repeat="campExtra in campsExtres">
					<md-checkbox style="float:left" ng-if="campExtra.tipus == 'boolea'" class="table-checkbox-buscador" ng-model="allSelectCheck" ng-true-value="'true'" ng-false-value="'false'" ng-click="allRegistres()" aria-label="All"></md-checkbox>
					{{campExtra.nomColumna}}
				</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="data in dadesLlista | filter:ignoraAccents:filtreCamp | orderBy:sort.column:sort.descending">
		     	<td ng-if="mostrarCella(key,value)"  ng-repeat="(key, value) in data">{{value}}</td>

		     	<td ng-if="determinaCampExtra('boolea')">
					<md-checkbox class="table-checkbox-buscador" ng-model="data.select" ng-true-value="'true'" ng-false-value="'false'" ng-click="seleccionaRegistre(data)" aria-label="All"></md-checkbox>
				</td>
				<td ng-if="determinaCampExtra('textarea')">
					<md-input-container style="margin-top: 0px; height: 40px" class="md-block">
			          <textarea ng-model="alumne.comentari" rows="1" md-select-on-focus></textarea>
			        </md-input-container>
				</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>

